<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="daily" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/kcar-proxy.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/kcar/proxy.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>

    <logger class="pro.kornev" level="debug" />

	<!-- Root Logger -->
	<root level="debug">
		<appender-ref ref="daily" />
		<appender-ref ref="console" />
	</root>

</configuration>
